<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping app home page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Lade's Store</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item px-4">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item px-4">
              <a class="nav-link" href="#">Cart</a>
            </li>
                
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>

      <div class="row">
        <div id="firstColumn" class="col-12 col-md-6">
           <p id="heading">Welcome</p>
           <p>Lade's Store offers a variety of trending wears at affordable prices.
            <br/>
            Get ready to be blown off!
            <br/>
            <br/>
            Log in or Sign up to continue
           </p>
           <button id="login">Log in</button>
           <button id="signup">Sign up</button> 
        </div>
        <div class="col-12 col-md-6">
            <img id="image" src="./img/many-bright-shopping-packets-with-handles.jpg" alt="shopping image" width="100%" height="500px">
        </div>
      </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
